body{
    margin: 0px;
    background:#FAFAFA;
}
.containerfull{
    width: 100%;
    margin-top: 10vh;
}

/* Footer */
.footercontainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    background: black;
    padding-top: 30px;
}
.footersection{
    display: flex;
    flex-flow: column nowrap;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px;
    color: #e2f3fd;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#footerpolicycontainer{
    font-weight: bold;
    padding:5px 5px;
    background: #000000;
    color: #e2f3fd;
    padding-left: 10%;
}
.footerlink{
    text-decoration: none;
    padding-top :5px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #FAFAFA;
}
/*NAVBAR*/
.navcontainer{
    height: 50px;
    display:flex;
    align-items: center;
    justify-content:left;
    flex-flow: row nowrap;
    font-family: 'Courier New', Courier, monospace;
    z-index: 10;
}
.nav-logo{
    width: 15%;
    background: black;
    display: flex; 
    height: inherit;
    text-justify: center;
    text-align: center;
    justify-content: center;
    align-content: center;
}
#nav-img{
    display: inline-block;
    width: 30%;
}
#nav-brand{
    display:inline-block;
    margin:auto;
    width: auto;
    color: white;
    text-decoration: none;
}
.navbar{
    display: flex;
    flex-flow: row wrap;
    width: 65%;
    align-content: center;
    color: white;
    background-color: black;
    height: inherit;

}
.nav-item{
    padding-left: 5%;
    height: inherit;
    display: flex;
    justify-content: center;
    position: relative;
    width: 17%;
}
.nav-link{
    color: white;
    text-decoration: none;
    padding:auto;
    margin: auto;
}
.dropdownmenu{
    display: none;
    position: absolute;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    top:100%;
    width: 100%;
}
.dropdown{
    background:black;
    border: 1px white;
    width: 100%;
    padding-top:20px;
    padding-bottom: 20px;
    padding-left: 10px;
    border-style: solid;
    z-index: 10;
    transition: all .5s ease-in-out;
}
.dropdown:hover{
    background:grey;
    font-size: 180%;
}

/*Search*/
#Searchcontainer{
    background-color: black;
    height: inherit;
    width: 20%;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
}
.searchbtn{
    background-color: white;
    width: 15%;
    height: 60%;
    padding: auto;
    margin: auto;
    border: none;
    cursor: pointer;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQcEgDCL-tC6QcDEe0y6SQ1p1DGxWcX2kjJpzCPLDIDHRBuqeFg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    border-radius: 100%;
}
#searchinput{
    width: 70%;
    height: 60%;
    align-self: center;
}

/* Slide */
.Slide{
    position: relative;
    margin-bottom: 7vh;
}
.slideshow{
    display: block;
}
.slidecontain{
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center;
    z-index: -1;
}
.text{
    color: white;
    width: 100%;
    font-size: 50px;
    text-decoration: none;
    position: absolute;
    top:30%;
    left: 50%;
    transform: translate(-50%);
    background-color: rgb(0, 0, 0,.5);
    text-align: center;
    justify-self: center;
    padding: 3%;
}
#loading1{
    height: 400px;
    background: url('https://scontent-hkg3-1.xx.fbcdn.net/v/t1.15752-9/86702912_890671324721460_270641510117015552_n.png?_nc_cat=106&_nc_ohc=qoOT2vFHjBMAX-P885s&_nc_ht=scontent-hkg3-1.xx&oh=364a46374d0cdcf2ed3a78865c11eaac&oe=5F0201E0');
}
#loading2{
    height: 400px;
    background: url('https://scontent-hkg3-1.xx.fbcdn.net/v/t1.15752-9/86831290_218614689276438_5710423113276063744_n.png?_nc_cat=103&_nc_ohc=wK9bt3mBBEkAX98QzS9&_nc_ht=scontent-hkg3-1.xx&oh=deb7ff7554fe7a3370208d46e38a35c1&oe=5F018512');
}
#loading3{
    height: 400px;
    background: url('https://scontent-hkg3-2.xx.fbcdn.net/v/t1.15752-9/86296253_508593593409417_6663640119066492928_n.png?_nc_cat=111&_nc_ohc=g4WUM3He2BQAX9qaQpc&_nc_ht=scontent-hkg3-2.xx&oh=f1af1850928e6567ba6435a7391cc778&oe=5EC61435');
}
#loading1,#loading2,#loading3{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index:-10 ;
}
#backbtn, #nextbtn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 5;
  }
  #nextbtn {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  #backbtn:hover, #nextbtn:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .Dot{
      background: white;
      height: 20px;
      width: 20px;
      margin: 5px 5px;
      border-radius: 100%;
  }
  .Dot:hover{
      background-color: slategrey;
  }
  .glider{
      display:flex;
      position: absolute;
      bottom: 0px;
      left: 50%;   
      flex-flow: row nowrap;
      padding: 10px;
      transform: translate(-50%);
  }
  div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

/*Random*/

.Randomcontent{
    width: 66.67%;
    height: auto;
    padding: 10px;
    margin-top: 10vh;
    margin-bottom: 19vh;
    margin: auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
#randomtext{
    padding: 10px;
    margin-top: 7vh;
    margin: auto;
}
.randombtn{
    text-decoration: none;
    color: black;
    transition: all .3s ease;
    padding: 10px;
    margin-bottom: 12vh;
    margin: auto;
    cursor: pointer;
    font-size: x-large;
    margin-top: 5vh;    
    font-family: 'Courier New', Courier, monospace;
}
.randombtn:hover{
    font-size: xx-large;
    text-decoration-line: underline;
}
.randombtn:active{
    color: black;
}
/*Home button*/
.Homebtn{
    text-decoration: none;
    color: black;
    transition: all .3s ease;
    padding: 10px;
    margin-bottom: 12vh;
    margin: auto;
    cursor: pointer;
    margin-top: 5vh;
    text-align: center;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;

}
.Homebtn:hover{
    font-size: xx-large;
    text-decoration-line: underline;
}
.Homebtn:active{
    color: black;
}