#recipetext{
    width: 100%;
    height: initial;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    text-align: center;
    margin-top: 20vh;
    margin-bottom: 20vh;
}
#recipecontain {
    display: flex;
    width: 100%;
    height: initial;
    margin-top:;
}
